{% comment %}

  x mailchimp
  x klayvio
  x bronto
  - sailthru
  - dotmailer

{% endcomment %}

{%- capture _arguments -%}
  {%- include 'argument',
    _value: _provider,
    _name: '_provider',
    _required: true -%}
{%- endcapture -%}

{%- capture _errors -%}
  {%- include 'errors' with _arguments, _snippet: 'form-newsletter-signup' -%}
{%- endcapture -%}

{%- assign _arguments = nil -%}

{%- if _errors == '' -%}

  {% case provider %}
    {% when 'mailchimp' %}

      <form
        action="{{ mailchimp_url }}/post?u={{ mailchimp_u }}&{{ mailchimp_id }}"
        method="post"
        id="mc-embedded-subscribe-form"
        name="mc-embedded-subscribe-form"
        class="validate"
        target="_blank"
        novalidate>

        {% include 'input',
          type: 'hidden',
          value: {{ mailchimp_url }}/post-json?u={{ mailchimp_u }}&{{ mailchimp_ajax_id }},
          id: 'mc_ajax' %}

        {% include 'input',
          type: 'email',
          name: 'EMAIL',
          value: '',
          id: 'mce-EMAIL',
          extra_attrs: 'placeholder=""' %}

        <div style="position: absolute; left: -5000px;">
          {% include 'input',
            type: 'text',
            name: 'b_{{ mailchimp_u }}_{{ mailchimp_id }}',
            value: '',
            extra_attrs: 'tabindex="-1"' %}
        </div>

        {% include 'button',
          type: 'submit',
          value: ' ' %}

      </form>


    {% when 'klayvio' %}

      <form
        id="klaviyo-footer"
        class="mailing-form"
        action="//manage.kmail-lists.com/subscriptions/subscribe"
        data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe"
        method="GET"
        target="_blank"
        novalidate="novalidate">

        {% include 'input',
          type: 'hidden',
          name: 'js-source',
          value: klayvio_js_source %}

        {% include 'input',
          type: 'hidden',
          name: 'g',
          value: klayvio_g %}

        {% include 'input',
          type: 'email',
          name: 'email',
          value: '',
          extra_attrs: 'placeholder=""' %}

        {% include 'button',
          type: 'submit',
          content: button_text %}

      </form>

    {% when 'bronto' %}

      <form>

        {% include 'input',
          type: 'email',
          name: 'email',
          value: '',
          extra_attrs: 'placeholder=""' %}

        {% include 'button',
          type: 'submit',
          content: button_text %}

        {% comment %}
        var brontoUS = 'fid=71rthcv5aqg9fpfijq3zibg6e5s76&sid=eb3a9c529681f56a1e5c75804c732188&delid=&subid=&td=&formtype=addcontact&106163%5B270100%5D=true&104875=';
        {% endcomment %}

        {% comment %}
        var shopifyDataString = 'form_type=customer&utf8=%E2%9C%93&customer%5Baccepts_marketing%5D%3Dtrue&contact%5Btags%5D=' + tag + '&contact%5Bemail%5D=';
        {% endcomment %}

        {% comment %}
        $.post('http://app.bronto.com/public/webform/process/', dataUrl);
        {% endcomment %}

      </form>


  {% endcase %}

{%- else -%}

  {{- _errors -}}

{%- endif -%}

{%- assign _errors = nil -%}
