{%- capture arguments -%}
  {%- include 'argument',
    _name: 'text',
    _required: true,
    _value: text,
    _type: 'String',
    _description: '' -%}
  {%- include 'argument',
    _name: 'href',
    _required: true,
    _value: href,
    _type: 'String',
    _description: '' -%}
{%- endcapture -%}

{%- capture errors -%}
  {%- include 'errors' with arguments, snippet: 'link' -%}
{%- endcapture -%}

{%- if errors == '' -%}
  <a class="oo-link {{ classes }}" {{ extra_attrs }}
     href="{{- href -}}">
    {{- text -}}
  </a>
{%- else -%}
  {{ errors }}
{%- endif -%}

{%- assign arguments = blank -%}
{%- assign errors = blank -%}
