<heading class="oo-heading {{ classes }}" {{ additional_attributes }}>
  <h{{- level -}}>{{ heading }}</h{{- level -}}>
  {% if content != blank %}
    <div class="oo-heading-content">{{ content }}</div>
  {% endif %}
</heading>
