<header class="oo-heading {{ classes }}" {{ extra_attrs }}>
  <h{% if level == blank %}2{% else %}{{- level -}}{% endif %}>
    {{ text }}
  </h{% if level == blank %}2{% else %}{{- level -}}{% endif %}>
  {% if content != blank %}
    <div class="oo-heading--content">{{ content }}</div>
  {% endif %}
</header>
