{%- comment -%}

  Arguments:

    • resource - required
    • compare_at_price
    • range

{%- endcomment -%}

<div
  class="oo-prices {{ classes -}}"
  data-price-control
  {{ extra_attrs -}}>

  {%- if resource.line_price -%}

    <div class="oo-prices--line-price" data-price="line-price">

      {%- if resource.original_line_price and compare_at_price == true -%}

        {{- resource.original_line_price | money -}}

      {%- else -%}

        {{- resource.line_price | money -}}

      {%- endif  -%}

    </div>

  {%- else -%}

    {%- if resource.compare_at_price and compare_at_price == true -%}

      {%- if resource.compare_at_price_varies and range == true -%}

        <div class="oo-prices--compare-at-price" data-price="compare-at-price" data-price-range>

          {{- resource.compare_at_price_min | money }} - {{ resource.compare_at_price_max | money -}}

        </div>

      {%- else -%}

        <div class="oo-prices--compare-at-price" data-price="compare-at-price">

          {{- resource.compare_at_price | money -}}

        </div>

      {%- endif -%}

    {%- endif -%}

    {%- if resource.price_varies and range == true -%}

      <div class="oo-prices--price" data-price="price" data-price-range>

        {{- resource.price_min | money }} - {{ resource.price_max | money -}}

      </div>

    {%- else -%}

      <div class="oo-prices--price" data-price="price">

        {{- resource.price | money -}}

      </div>

    {%- endif -%}

  {%- endif -%}

</div>

{% comment %}
{%- capture _arguments -%}
  {%- include 'argument',
    _value: resource,
    _name: 'resource',
    _required: true -%}
  {%- include 'argument',
    _value: compare_at_price,
    _name: 'compare_at_price',
    _required: false -%}
  {%- include 'argument',
    _value: range,
    _name: 'range',
    _required: false -%}
{%- endcapture -%}

{%- capture _errors -%}
  {%- include 'errors' with _arguments, _snippet: 'price' -%}
{%- endcapture -%}

{%- assign _arguments = nil -%}

{%- if _errors == '' -%}

  <div
    class="oo-prices {{ classes -}}"
    data-price-control
    {{ extra_attrs -}}>

    {%- if resource.line_price -%}

      <div class="oo-prices--line-price" data-price="line-price">

        {%- if resource.original_line_price and compare_at_price == true -%}

          {{- resource.original_line_price | money -}}

        {%- else -%}

          {{- resource.line_price | money -}}

        {%- endif  -%}

      </div>

    {%- else -%}

      {%- if resource.compare_at_price and compare_at_price == true -%}

        {%- if resource.compare_at_price_varies and range == true -%}

          <div class="oo-prices--compare-at-price" data-price="compare-at-price" data-price-range>

            {{- resource.compare_at_price_min | money }} - {{ resource.compare_at_price_max | money -}}

          </div>

        {%- else -%}

          <div class="oo-prices--compare-at-price" data-price="compare-at-price">

            {{- resource.compare_at_price | money -}}

          </div>

        {%- endif -%}

      {%- endif -%}

      {%- if resource.price_varies and range == true -%}

        <div class="oo-prices--price" data-price="price" data-price-range>

          {{- resource.price_min | money }} - {{ resource.price_max | money -}}

        </div>

      {%- else -%}

        <div class="oo-prices--price" data-price="price">

          {{- resource.price | money -}}

        </div>

      {%- endif -%}

    {%- endif -%}

  </div>

{%- else -%}

  {{- _errors -}}

{%- endif -%}

{%- assign _errors = nil -%}
{% endcomment %}
