{%- capture _arguments -%}
  {%- include 'argument',
    _value: resource,
    _name: 'resource',
    _required: true -%}
  {%- include 'argument',
    _value: compare_at_price,
    _name: 'compare_at_price',
    _required: false -%}
  {%- include 'argument',
    _value: range,
    _name: 'range',
    _required: false -%}
{%- endcapture -%}

{%- capture _errors -%}
  {%- include 'errors' with _arguments, _snippet: 'price' -%}
{%- endcapture -%}

{%- assign _arguments = nil -%}

{%- if _errors == '' -%}

  <div
    class="oo-prices {{ classes -}}"
    data-prices
    {{ extra_attrs -}}>

    {%- if resource.compare_at_price and compare_at_price == true -%}

      <div class="oo-prices--compare-at-price" data-price="compare-at-price">

        {%- if resource.compare_at_price_varies and range == true -%}

          {{- resource.compare_at_price_min | money }} - {{ resource.compare_at_price_max | money -}}

        {%- elsif resource.original_line_price -%}

          {{- resource.original_line_price | money -}}

        {%- else -%}

          {{- resource.compare_at_price | money -}}

        {%- endif -%}

      </div>

    {%- endif -%}

    <div class="oo-prices--price" data-price="price">

      {%- if resource.price_varies and range == true -%}

        {{- resource.price_min | money }} - {{ resource.price_max | money -}}

      {%- elsif resource.line_price -%}

        {{- resource.line_price | money -}}

      {%- else -%}

        {{- resource.price | money -}}

      {%- endif -%}

    </div>

  </div>

{%- else -%}

  {{- _errors -}}

{%- endif -%}

{%- assign _errors = nil -%}
