{%- capture _arguments -%}
  {%- include 'argument',
    _value: _line_item,
    _name: '_line_item',
    _required: true -%}
{%- endcapture -%}

{%- capture _errors -%}
  {%- include 'errors' with _arguments, _snippet: 'line-item' -%}
{%- endcapture -%}

{%- assign _arguments = nil -%}

{%- if _errors == '' -%}

  <div
    class="oo-line-item {{ classes -}}"
    data-product-container="{{ _line_item.product.handle }}"
    data-variant-id="{{ _line_item.variant.id }}"
    {{ extra_attrs -}}>

    {%- include 'image',
      resource: _line_item.product.featured_image,
      size: '800x',
      srcset: '480x,600x,768x,450x,575x',
      sizes: 'max 480px 480px,max 600px 600px,max 768px 768px,max 992px 992px,min 993px 575px'
      classes: 'inside-oo-line-item oo-line-item--image-wrapper',
      extra_attrs: '' -%}

    <div class="oo-line-item--information-wrapper">

      {%- include 'header',
        title: _line_item.product.title,
        level: 4,
        classes: 'inside-oo-line-item--information-wrapper',
        extra_attrs: '' -%}

      {%- include 'price',
        resource: _line_item.variant,
        classes: 'inside-oo-line-item--information-wrapper',
        extra_attrs: '' -%}

      {%- include 'text',
        content: _line_item.product.title,
        classes: 'inside-oo-line-item--information-wrapper',
        extra_attrs: '' -%}

      {%- include 'quantity-select',
        quantity: _line_item.quantity,
        classes: 'inside-oo-line-item--information-wrapper',
        extra_attrs: '' -%}

      {%- include 'price',
        resource: _line_item,
        classes: 'inside-oo-line-item--information-wrapper',
        extra_attrs: '' -%}

    </div>

    {%- capture _content -%}
      {%- include 'icon',
        name: 'cancel',
        classes: 'inside-oo-button',
        extra_attrs: '' -%}
    {%- endcapture -%}

    {%- include 'button',
      content: _content,
      classes: 'inside-oo-line-item',
      extra_attrs: '' -%}

    {%- assign _content = nil -%}

  </div>

{%- else -%}

  {{- _errors -}}

{%- endif -%}

{%- assign _errors = nil -%}
