{%- comment -%}

  Arguments:

    • for
    • content

{%- endcomment -%}

<label
  class="oo-label {{ classes -}}"
  for="{{- for -}}"
  {{ extra_attrs -}}>

  {{- content -}}

</label>

{% comment %}
{%- capture _arguments -%}
  {%- include 'argument',
    _value: for,
    _name: 'for',
    _required: false -%}
  {%- include 'argument',
    _value: content,
    _name: 'content',
    _required: false -%}
{%- endcapture -%}

{%- capture _errors -%}
  {%- include 'errors' with _arguments, _snippet: 'label' -%}
{%- endcapture -%}

{%- assign _arguments = nil -%}

{%- if _errors == '' -%}

  <label
    class="oo-label {{ classes -}}"
    for="{{- for -}}"
    {{ extra_attrs -}}>

    {{- content -}}

  </label>

{%- else -%}

  {{- _errors -}}

{%- endif -%}

{%- assign _errors = nil -%}
{% endcomment %}
