{%- capture arguments -%}
  {%- include 'argument',
    _name: 'text',
    _required: true,
    _value: text,
    _type: 'String',
    _description: 'content used for button' -%}
  {%- include 'argument',
    _name: 'type',
    _required: false,
    _value: type,
    _type: 'String',
    _description: 'button type, e.g. `submit` or `reset` ' -%}
{%- endcapture -%}

{%- capture errors -%}
  {%- include 'errors' with arguments, snippet: 'button' -%}
{%- endcapture -%}

{%- if errors == '' -%}
  <button class="oo-button {{ classes }}" {{ additional_attributes }}
          {%- if type != blank %}type="{{- type -}}{% endif %}">
    {{ text }}
  </button>
{%- else -%}
  {{ errors }}
{%- endif -%}

{%- assign arguments = blank -%}
{%- assign errors = blank -%}
