{%- capture arguments -%}
  {%- include 'argument',
    _name: '_price',
    _required: true,
    _value: _price,
    _type: 'String',
    _description: '' -%}
  {%- include 'argument',
    _name: 'compare_at_price',
    _required: false,
    _value: _compare_at_price,
    _type: 'String',
    _description: '' -%}
  {%- include 'argument',
    _name: 'range',
    _required: false,
    _value: range,
    _type: 'Boolean',
    _description: '' -%}
{%- endcapture -%}

{%- capture errors -%}
  {%- include 'errors' with arguments, snippet: 'price' -%}
{%- endcapture -%}

{%- if errors == '' -%}
  <div class="oo-prices {{ classes }}" {{ additional_attributes }}>
    <div>
      {{- _price | money -}}
    </div>
    {%- if _compare_at_price -%}
      <div>
        {{- _compare_at_price | money -}}
      </div>
    {%- endif -%}
  </div>
{%- else -%}
  {{ errors }}
{%- endif -%}

{%- assign arguments = blank -%}
{%- assign errors = blank -%}
