{%- comment -%}

  Required arguments:
  - type
  - name

  Optional arguments:
  - value
  - input_classes
  - input_attrs
  - label_classes
  - label_attrs
  - classes
  - attrs

{%- endcomment -%}


{%- capture id -%}
  {{- name | handle -}}-{{- value | handle -}}-{{- 'now' | date: '%N' | modulo: 999999999 | plus: 1 -}}
{%- endcapture -%}


<div class="oo-input-group {{ classes -}}" {{ attrs -}}>

  {%- include 'input',
    type: type,
    name: name,
    value: value,
    id: id,
    classes: input_classes,
    attrs: input_attrs -%}

  {%- include 'label',
    for: id,
    content: value,
    classes: label_classes,
    attrs: label_attrs -%}

</div>


{%- assign id = nil -%}
{%- assign input_classes = nil -%}
{%- assign label_classes = nil -%}
