{%- comment -%}

  Required arguments:

  Optional arguments:
  - content
  - button
  - href
  - target
  - icon
  - classes
  - attrs

{%- endcomment -%}

<a class="oo-link {% if button != blank -%}oo-button{%- endif %} {{ classes -}}"
  href="{{- href -}}"
  {%- if target != blank -%}target="{{- target -}}"{%- endif -%}
  {{ attrs -}}>

  {%- if icon != blank -%}

    {%- include 'icon',
      name: icon,
      classes: '',
      attrs: '' -%}

  {%- endif -%}

  {%- if content != blank -%}

    {{- content -}}

  {%- endif -%}

</a>
