{%- comment -%}

  Required arguments:
  - resource

  Optional arguments:
  - compare_at_price
  - range
  - classes
  - attrs

{%- endcomment -%}



{%- assign price_type = 'price' -%}
{%- if resource.line_price -%}
  {%- assign price_type = 'line-price' -%}
{%- elsif compare_at_price == true -%}
  {%- assign price_type = 'compare-at-price' -%}
{%- endif -%}

{%- if range == true -%}
  {%- assign price_min = resource.price_min -%}
  {%- assign price_max = resource.price_max -%}
  {%- if resource.compare_at_price_varies and compare_at_price == true -%}
    {%- assign price_min = resource.compare_at_price_min -%}
    {%- assign price_max = resource.compare_at_price_max -%}
  {%- endif -%}
{%- else -%}
  {%- assign _price = resource.price -%}
  {%- if resource.original_line_price and compare_at_price == true -%}
    {%- assign _price = resource.original_line_price -%}
  {%- elsif resource.line_price -%}
    {%- assign _price = resource.line_price -%}
  {%- elsif resource.compare_at_price and compare_at_price == true -%}
    {%- assign _price = resource.compare_at_price -%}
  {%- endif -%}
{%- endif -%}


<div
  class="oo-price {{ classes -}}"
  data-price="{{- price_type -}}"
  data-price-range="{%- if range == true -%}true{%- else -%}false{% endif %}"
  {{ attrs -}}>

  {%- if range == true -%}

    {{- price_min | money }} - {{ price_max | money -}}

  {%- else -%}

    {{- _price | money -}}

  {%- endif -%}

</div>

{%- assign _price = nil -%}
{%- assign price_min = nil -%}
{%- assign price_max = nil -%}
{%- assign price_type = nil -%}
