{% comment %}

  Required arguments:
  - name
  - slides

  Optional arguments:
  - filter_group_option
  - filter_attr
  - classes
  - attrs

{% endcomment %}


<div
  class="oo-slider slider--{{- name }} {{ classes -}}"
  data-slider="{{- name -}}"
  {%- if filter_group_option -%}
    data-filter-group-option="{{- filter_group_option -}}"
    data-filter-attr="{{- filter_attr -}}"
  {%- endif -%}
  {%- if with_nav == true -%}data-has-nav="true"{%- endif -%}
  {{ attrs -}}>

  {{- slides -}}

</div>
