{%- comment -%}

  Required arguments:
  - name
  - line_item
  - content

  Optional arguments:
  - classes
  - attrs

{%- endcomment -%}


{%- capture id -%}
  {{- line_item.product.handle -}}-{{- 'now' | date: '%N' | modulo: 999999999 | plus: 1 -}}
{%- endcapture -%}


<section
  class="oo-line-item {{ classes -}}"
  data-container="line-item"
  data-container-name="{{- name -}}"
  data-container-id="{{- id -}}"
  {{ attrs -}}>

  {%- assign id = nil -%}

  {{- content -}}

  {%- include 'line-item-data', line_item: line_item -%}

</section>
