<!doctype html>
  <!--[if IE 9]> <html class="ie9 no-js supports-no-cookies" lang="{{ shop.locale }}"> <![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js supports-no-cookies" lang="{{ shop.locale }}"> <!--<![endif]-->

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="canonical" href="{{ canonical_url }}">

    {%- include 'favicon' -%}

    {%- include 'page-title' -%}
    {%- include 'page-description' -%}

    {%- include 'social-meta-tags' -%}
    {%- include 'style-tags', layout: 'checkout' -%}
    {%- include 'css-variables' -%}

    {%- include 'api-shop' -%}

    {% include 'script-tags', layout: 'checkout' %}

    {{ content_for_header }}
  </head>

  <body
    data-template="{{ template.name | handle }}"
    {%- if template.suffix != blank -%}
    data-alternate-template="{{ template.suffix | handle }}"
    {%- endif -%}>



    <main role="main" class="oo-main" id="MainContent">
      {{ content_for_checkout }}
    </main>



  </body>
</html>
